.py-10 {
    padding-top: 0.5rem!important;
    padding-bottom: 7rem!important;
}


.pt-10 {
    padding-top: 1rem!important;
}

.f-w-6 {
    width: 1rem!important;
}

.mt-lg-7 {
    margin-top: 1rem!important;
}

.gifs-regular{
  height: 45px;
}

.gifs-wide{
  height: 40px;
  margin: 2px;
}

.gy-7 {
    --bs-gutter-y: 1.5rem;
}

// .btn-success {
//     color: #000;
//     background-color: #ffaf07;
//     border-color: #ffaf07;
// }
// .root{
//   --bs-green:#ffaf07;
// }
